.health-container {
  display: grid;
  justify-content: center;
}
.health-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 74vw;
}
.health-section-content {
  padding-left: 50px;
}
.health-content-container {
  display: flex;
  padding: 10px;
}
.health-content-img {
  object-fit: cover;
}
.health-content-heading {
  width: 100%;
  padding: 30px;
}
.health-content-heading h4 {
  padding: 10px;
}
.health-content-heading p {
  padding: 10px;
}
