.categories-container {
  display: grid;
  justify-content: center;
}
.categories-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 74vw;
}
.categories-section-content {
  padding-left: 50px;
}
.categories-content-container {
  display: flex;
  padding: 10px;
}
.categories-content-img {
  object-fit: cover;
}
.categories-content-heading {
  width: 50%;
}
.categories-content-heading h4 {
  padding: 10px;
}
.categories-content-heading p {
  padding: 10px;
}
.categories-categoryname {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
