.science-container {
  display: grid;
  justify-content: center;
}
.science-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 74vw;
}
.science-section-content {
  padding-left: 50px;
}
.science-content-container {
  display: flex;
  padding: 10px;
}
.science-content-img {
  object-fit: cover;
}
.science-content-heading {
  width: 100%;
  padding: 30px;
}
.science-content-heading h4 {
  padding: 10px;
}
.science-content-heading p {
  padding: 10px;
}
