body {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

/* news content - pagination css codes */
.news-container {
  display: grid;
  justify-content: center;
}
.news-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 74vw;
}
.news-section-content {
  padding-left: 50px;
}
.news-content-container {
  display: flex;
  padding: 10px;
}
.news-content-img {
  object-fit: cover;
}
.news-content-heading {
  width: 100%;
  padding: 30px;
}
.news-content-heading h4 {
  padding: 10px;
}
.news-content-heading p {
  padding: 10px;
}
.news-categoryname {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.news-content-categoryname {
  display: flex;
  justify-content: center;
}
.pagination-buttons {
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* news content - pagination css codes */

/* Home.jsx css codes */

.home-container {
  display: grid;
  justify-content: center;
}

/* Home.jsx css codes */
